.bg-purple{
    background-color: #7533f3 !important;
}
#main a{
    color: gray;
}

#main a:hover {
    color: rgb(73, 73, 73);
}

#footer a{
    text-decoration: none;
    color: black;
}

#footer a:hover{
    text-decoration: underline;
    color: var(--bs-primat) !important;
}